.calculator {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-areas: "display display display display" "display display display display" "modulos clear-entry clear-all backspace" "reciprocal square square-root divide" "seven eight nine multiply" "four five six subtract" "one two three addition" "positive-negative zero decimal equals";
  grid-gap: 1px;
  background-color: #e6e6e6;
  padding: 3px;
  grid-template-columns: repeat(4, 7.5em);
  grid-template-rows: repeat(8, 3.9em);
}

.calculator__key {
  cursor: pointer;
}

.operator {
  background-color: #f3f3f3;
  font-size: 1.3em;
}
.operator__special {
  font-size: 0.9em;
}
.operator:hover {
  background-color: #e6e6e6;
}

.number {
  font-weight: bold;
  font-size: 1em;
  background-color: white;
}
.number:hover {
  background-color: #e6e6e6;
}

#display {
  min-width: 0;
  grid-area: display;
  background-color: #e2e2e2;
  text-align: right;
  font-size: 2.5em;
  padding-top: 50px;
  font-weight: 500;
}

#clear-all {
  grid-area: clear-all;
}

#clear-entry {
  grid-area: clear-entry;
}

#backspace {
  grid-area: backspace;
}

#reciprocal {
  grid-area: reciprocal;
}

#square {
  grid-area: square;
}

#square-root {
  grid-area: square-root;
}

#modulos {
  grid-area: modulos;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#subtract {
  grid-area: subtract;
}

#addition {
  grid-area: addition;
}

#equals {
  grid-area: equals;
  background-color: #b6a790;
}

#positive-negative {
  grid-area: positive-negative;
  background-color: white;
}
#positive-negative:hover {
  background-color: #e6e6e6;
}

#decimal {
  grid-area: decimal;
  background-color: white;
}
#decimal:hover {
  background-color: #e6e6e6;
}

#num0 {
  grid-area: zero;
}

#num1 {
  grid-area: one;
}

#num2 {
  grid-area: two;
}

#num3 {
  grid-area: three;
}

#num4 {
  grid-area: four;
}

#num5 {
  grid-area: five;
}

#num6 {
  grid-area: six;
}

#num7 {
  grid-area: seven;
}

#num8 {
  grid-area: eight;
}

#num9 {
  grid-area: nine;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
