@mixin white-cause-microsoft {
    background-color: white;

    &:hover {
        background-color: #e6e6e6;
    }
}

button {
    cursor: pointer;
}

.calculator {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "display display display display"
        "display display display display"
        "modulos clear-entry clear-all backspace"
        "reciprocal square square-root divide"
        "num7 num8 num9 multiply"
        "num4 num5 num6 subtract"
        "num1 num2 num3 addition"
        "positive-negative num0 decimal equals";
    grid-gap: 1px;
    background-color: #e6e6e6;
    padding: 3px;
    grid-template-columns: repeat(4, 7.5em);
    grid-template-rows: repeat(8, 3.9em);

    &__operator {
        background-color: #f3f3f3;
        font-size: 1.3em;

        &__special {
            font-size: 0.9em;
        }

        &:hover {
            background-color: #e6e6e6;
        }
    }

    &__number {
        font-weight: bold;
        font-size: 1em;

        @include white-cause-microsoft;
    }
}

#display {
    min-width: 0;
    grid-area: display;
    background-color: #e2e2e2;
    text-align: right;
    font-size: 3em;
    padding-top: 50px;
    font-weight: 400;
}

#clear-all {
    grid-area: clear-all;
}

#clear-entry {
    grid-area: clear-entry;
}

#backspace {
    grid-area: backspace;
}

#reciprocal {
    grid-area: reciprocal;
}

#square {
    grid-area: square;
}

#square-root {
    grid-area: square-root;
}

#modulos {
    grid-area: modulos;
}

#divide {
    grid-area: divide;
}

#multiply {
    grid-area: multiply;
}

#subtract {
    grid-area: subtract;
}

#addition {
    grid-area: addition;
}

#equals {
    grid-area: equals;
    background-color: #b6a790;

    &:hover {
        background-color: #a69680;
    }
}

#positive-negative {
    grid-area: positive-negative;
    @include white-cause-microsoft
}

#decimal {
    grid-area: decimal;
    @include white-cause-microsoft
}

@for $i from 0 through 9 {
    #num#{$i} {
        grid-area: num#{$i};
    }
}